*{
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
body{
  margin: 0px;
  background-color: #e1e1e1;
  // padding: 0px;
  // background-image: url(http://qzonestyle.gtimg.cn/qzone/qzactStatics/imgs/20171122191532_f2975b.jpg);
  // background-repeat: no-repeat;
}

